
*.txt
style.css
WpfApp1/.vs/WpfApp1/v15/.suo
*.lock
*.ide
*.sln
*.config
*.xaml
*.cs
*.cache
*.lref
*.resx
*.settings
*.csproj
WpfApp2/.vs/WpfApp2/v15/.suo
WpfApp2/.vs/WpfApp2/v15/Server/sqlite3/storage.ide-shm
*.ide-wal
*.vb
*.exe
*.pdb
*.xml
*.baml
*.resources
*.vbproj
